* {
  margin: 0;
  padding: 0;
}

#content {
  width: 500px;
  position: relative;
  background: #f9fdd1;
  padding: 10px;
  margin: 30px auto;
}

span {
  border-bottom: 1px solid #000000;
  display: block;
  margin: 10px;
}

#text {
  margin: 10px;
  display: block;
}

textarea {
  margin: 10px;
  display: none;
  width: calc(100% - 22px);
  max-width: calc(100% - 42px);
  min-width: calc(100% - 42px);
  position: relative;
  padding: 10px;
}