* {
  margin: 0;
  padding: 0;
}

#content {
  width: 700px;
  background: #feffed;
  position: relative;
  margin: 5px auto;
  padding: 15px;
}

#create {
  width: 100%;
}

span, label, #submit {
  display: inline-block;
  width: 100%;
  margin: 5px auto;
}

span {
  text-align: center;
}

#name, #message {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  float: right;
  display: inline;
}
 #target {
   width: 15%;
   float: left;
   text-align: left;
 }

 #title, #commented {
   text-align: left;
   width: 100%;
   margin: auto;
 }
 #title {
   border-bottom: 1px solid #000;
 }

 #new_message {
   width: 100%;
   margin: 0 auto 20px auto;
   border: 1px solid #000000;
   position: relative;
   display: block;
 }

 #edit1, #edit2 {
   text-align: left;
   margin: 10px;
 }

 #edit2 {
   width: 100%;
 }

 #time {
   text-align: right;
   margin: 10px;
   float: right;
 }

 #time, #edit1 {
   width: 40%;
 }