* {
  margin: 0;
  padding: 0;
}

label, p, button {
  display: block;
  margin: 10px;
}

button {
  width: 75px;
}

.question, .result {
  margin: 30px auto;
  padding: 15px;
  position: relative;
  width: 400px;
  background: #fff9d4;
  display: none;
}

input {
  margin-right: 10px;
}