* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

#number {
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

button {
  margin: 10px;
  border: none;
  outline: none;
  background: darkblue;
  color: azure;
  font-size: 20px;
  height: 60px;
  width: 180px;
  border-radius: 30px;
}

button:hover {
  background: #013d97;
}

button:active {
  background: #004f8b;
}
