* {
  margin: 0;
  padding: 0;
}

.create, .result {
  width: 450px;
  margin: 30px auto;
  padding: 10px;
  position: relative;
  background: #fff9d4;
  display: none;
}

b, #text, button {
  width: 100%;
  margin: 5px auto;
  text-align: left;
  padding: 8px;
}

button {
  text-align: center;
}

#text {
  border: 1px solid #000;
  width: calc(100% - 16px);
}

textarea {
  width: calc(100% - 4px);
  max-width: calc(100% - 4px);
  min-width: calc(100% - 4px);
  min-height: 90px;
  margin: 10px 0;
}
input {
  margin: 5px;
}